<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SensorDataServlet</servlet-name>
        <servlet-class>controller.SensorDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MqttServlet</servlet-name>
        <servlet-class>controller.MqttServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sensor_Data</servlet-name>
        <servlet-class>Controller.Sensor_Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_DeviceServlet</servlet-name>
        <servlet-class>Controller.Control_DeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>Controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SensorDataServlet</servlet-name>
        <url-pattern>/SensorDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MqttServlet</servlet-name>
        <url-pattern>/MqttServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sensor_Data</servlet-name>
        <url-pattern>/Sensor_Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_DeviceServlet</servlet-name>
        <url-pattern>/Control_DeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
